  <mat-card-header>
    <mat-card-title class="card-header">{{ product.name }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="product.imagePath">

  <mat-card-content>

    <div class="product-info">
      <div style="
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap">
        <p>Price: {{ product.price | currency: "USD" }}</p>
        <span class="spacer"></span>
        <p *ngIf="product.oneOfOne === true">1of1</p>
        <span class="spacer"></span>
        <p>Stock: {{ product.quantity }}</p>
      </div>
    </div>
    <p>
      {{ product.description }}
    </p>

  </mat-card-content>

  <mat-card-actions fxLayout="row" fxLayoutGap="5px">
    <button fxFlex="auto" class="action-item" mat-raised-button color="primary">
      <mat-icon>add</mat-icon><mat-icon>shopping_cart</mat-icon>
    </button>
    <button
      fxFlex="auto"
      size
      class="action-item"
      mat-raised-button
      color="accent"
    >
      Edit<mat-icon>edit</mat-icon>
    </button>

    <mat-form-field fxFlex="33%">
      <mat-label>Quantity</mat-label>
      <input matInput type="number" />
    </mat-form-field>

    <span class="spacer"></span>
  </mat-card-actions>

