<mat-card *ngIf="user">
    <mat-card-header>
        <mat-card-title>{{user.name}}</mat-card-title>
    </mat-card-header>
    <div
     style="
     display: flex;
     justify-content: center;

    ">
      <img class="profilePic" src="{{user.imageURL}}">

    </div>
    <mat-card-content>
        <mat-card-subtitle>Contact Info</mat-card-subtitle>

        <p>Address</p>
        <p>1715 n 26th st </p>
    </mat-card-content>
    <mat-card-actions >
        <button mat-button >Action1</button>
    </mat-card-actions>
    <mat-card-footer>
        Footer
    </mat-card-footer>
</mat-card>
