<mat-stepper #stepper >

  <mat-step [stepControl]="newProduct" errorMessage="Name is required.">
    <form [formGroup]="newProduct" (ngSubmit)="onAddNewProduct()">

      <ng-template matStepLabel>Product Info</ng-template>

      <div class="form">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Product Type</mat-label>
          <mat-select  formControlName="productType">
            <mat-option *ngFor="let productType of productTypes; let i = index;" [value]="productTypes[i]">
              {{productTypes[i]}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <input type="number" formControlName="quantity" class="right-align"  matInput>
          <span matPrefix>#</span>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Size</mat-label>
          <input formControlName="size" class="right-align" matInput>
          <span matPrefix>#</span>
        </mat-form-field>



        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Price</mat-label>
          <input matInput  formControlName="price" type="number" class="right-align" placeholder="0">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix></span>
        </mat-form-field>

        <mat-form-field  appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

      </div>


      <button mat-button matStepperNext color="accent">Next</button>
    </form>
  </mat-step>

  <mat-step [stepControl]="productImage" errorMessage="Address is required.">
    <form [formGroup]="productImage">
      <ng-template matStepLabel>Upload Photo</ng-template>


      <label for="Image">Image File</label>
      <input #uploader class="ng-hide" id="image"  (change)="upload($event)" accept=".png,.jpg" type="file" />
      <button (click)="uploadPhoto()">Upload</button>
      <mat-progress-bar mode="determinate" [value]="uploadPercent | async "></mat-progress-bar>


      <div>

        <button mat-button matStepperPrevious color="accent">Back</button>
        <button mat-button matStepperNext color="accent">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <p>Insert Product Preview</p>
    <div>
      <button mat-button color="accent">Submit</button>
      <button mat-button matStepperPrevious color="accent">Back</button>
      <button mat-button color="warn" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

