.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.logo{
  padding-top: 8px;
  border-radius: 100%;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-content{
min-height: 100%;
min-width: 100%;
}

.navigationToolbar{

  z-index: 1; /* Ensure that your app's content doesn't overlap the toolbar */
  width: 100%;
}

::ng-deep .userMenu{
border-top-left-radius: 25px !important;
border-bottom-right-radius: 25px !important;
border-bottom-left-radius: 25px !important;
}





